@model DataContext.DBModel.accounters

@{ 
    Layout = null;

}


<div class="container">
    @Html.Action("GetAll");
</div>
<style>
    body {
        padding-top: 0;
        background-color: #EFF0F0;
    }
</style>
