<div id="content">

    <div class="fixed-action-btn" data-toggle="tooltip" data-placement="left" data-bind="attr: { title: 'اضف' }, click: add">
        <a class="btn-floating btn-large waves-effect red">
            <i class="mdi-content-add"></i>
        </a>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="widget-grid">
            <!-- row -->
            <div class="row">
                <!-- SINGLE GRID -->
                <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="well jarviswidget" data-widget-sortable="false" id="wid-id-0">
                        <header data-bind="css: { rtlTable: 'rtl' }"></header>
                        <div>
                            <!-- widget content -->
                            <div class="widget-body" data-bind="attr: { dir: 'rtl' }" style="overflow-x: hidden">
                                <div class="row page-header-row">
                                    <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <span class="page-header-text" style="font-family: Lato; color: rgb(37, 128, 247);" data-bind="text: 'الشركات'"></span>
                                        <button class="btn btn-trans btn-xs dropdown-toggle" id="exportDropdownMenu" data-toggle="dropdown" data-bind="attr:{ title: 'تصدير'}, css: 'pull-Right'">
                                            <i class="fa fa-gear fa-2x"></i>
                                        </button>
                                        <ul class="dropdown-menu" style="right: 15px;" role="menu" data-bind="css: pull-left" aria-labelledby="exportDropdownMenu">
                                            <li role="presentation">
                                                <a role="menuitem" tabindex="-1" data-bind="click: exportToExcel" href="javascript:void(0);">Excel</a>
                                            </li>
                                            <li role="presentation">
                                                <a role="menuitem" tabindex="-1" data-bind="click: exportToWord" href="javascript:void(0);">Word</a>
                                            </li>
                                            <li role="presentation">
                                                <a role="menuitem" tabindex="-1" data-bind="click: exportToPdf" href="javascript:void(0);">PDF</a>
                                            </li>
                                        </ul>
                                        <button id="fullscreen" class="btn btn-trans btn-trans-full btn-xs" data-bind="attr:{ title: 'fullscreen' }, css: pull-left" data-action="launchFullscreen">
                                            <i class="fa fa-arrows-alt fa-2x"></i>
                                        </button>
                                    </section>
                                </div>
                                <hr />

                                <div data-bind="style: { visibility: !!(selectedRowId()) ? 'visible' : 'hidden' }">
                                    <a href="javascript:void(0);" class="pull-right" data-bind="click: deleteCompany">
                                        <i style="font-size: 1.6em; margin-right: 5px;" class="fa fa-trash-o"></i>
                                    </a>
                                </div> 

                                <div id="projectContactsTable" style="width: 100%" data-bind="data: gridOptions()">
                                </div>
 
                                <div class="modal fade" id="projectCompanyModal" tabindex="-1" role="dialog" aria-labelledby="projectCompanyModal" aria-hidden="true" style="display: none;">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                    ×
                                                </button>
                                                <h4 class="modal-title" data-bind="visible: !changeStatus(), text: 'اضافة' "></h4>
                                                <h4 class="modal-title" data-bind="visible: changeStatus(), text: 'تعديل' "></h4>
                                            </div>
                                            <div class="modal-body">
                                                <form class="smart-form" id="projectCompanyForm" novalidate="novalidate">
                                                    <fieldset data-bind="with: $root.projectCompany">
                      
                                                        <div class="row">
                                                            <section class="col col-6">
                                                                <label class="label" data-bind="text: 'اسم الشركة', style: { 'text-align': 'rtl' }"></label>
                                                                <label class="input"> 
                                                                    <input id="companyName" type="text" class="form-control" name="companyName" data-bind="value: companyName, attr: { 'placeholder': 'اسم الشركة' }" required />
                                                                </label>
                                                            </section>
                                                            <section class="col col-6">
                                                                <label class="label" data-bind="text: 'العنوان', style: { 'text-align': 'rtl' }"></label>
                                                                <label class="input">
                                                                    <input id="address" type="text" class="form-control" name="address" data-bind="value: address, attr: { 'placeholder': '' }" required />
                                                                </label>
                                                            </section>
                                                        </div>

                                                        <div class="row">
                                                            <section class="col col-6">
                                                                <label class="label" data-bind="text: 'فاكس', style: { 'text-align': 'rtl' }"></label>
                                                                <label class="input">

                                                                    <input id="fax" type="text" class="form-control" name="fax" data-bind="value: fax, attr: { 'placeholder': '' }" />

                                                                </label>
                                                            </section>
                                                            <section class="col col-6">
                                                                <label class="label" data-bind="text: 'تليفون', style: { 'text-align': 'rtl' }"></label>
                                                                <label class="input">

                                                                    <input id="phone" type="text" class="form-control" name="phone" data-bind="value: phone, attr: { 'placeholder': '' }" />

                                                                </label>
                                                            </section>
                                                        </div>
                                                        <div class="row">

                                                            <section class="col col-6">
                                                                <label class="label" data-bind="text: 'البريد الالكترونى', style: { 'text-align': 'rtl' }"></label>
                                                                <label class="input">
                                                                    <input id="email" type="text" class="form-control" name="email" data-bind="value: email, attr: { 'placeholder': '' }" required />
                                                                </label>

                                                            </section>

                                                        </div>

                                                        
                                                    </fieldset>
                                                </form>
                                            </div>
                                            <div class="modal-footer"> 
                                                <button type="submit" class="btn btn-primary" id="editProjectCompanies" data-bind=" text: 'اضافة', click: editProjectCompanies, visible: changeStatus()"></button>
                                                <button type="submit" class="btn btn-primary" id="addProjectCompanies" data-bind="text: 'تعديل', click: addProjectCompanies, visible: !changeStatus()"></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- end widget -->
                </section>
            </div><!-- end row -->
        </div>
    </div>
    <!-- END MAIN CONTENT -->
</div>
